.card-item {
  width: 10.8rem;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.card-item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow ease-in-out;
}
.card-image {
  width: 10.5px;
  height: 10.5px;
}
.card-item-title {
  font-size: 0.76rem;
  line-height: 1.2rem;
  font-weight: 500;
}
.card-item-price {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #f42c2c;
  font-weight: 600;
}
@media only screen and (min-width: 1532px) {
  .card-item {
    width: 12rem;
  }
}
