.countdown-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 105.5%;
}
.countdown-item {
  width: 1.5rem;

  height: 1.5rem;
  background-color: red;
}
.mobile-countdown {
  height: 3rem;
  background-color: red;
  align-items: center;
}
