.justin-card {
  width: 10.8rem;
  background-color: white;
  text-align: center;
}
.justin-card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow ease-in-out;
}
.justin-title {
  font-size: 0.8rem;
  line-height: 133%;
  font-weight: 500;
}

.justin-price {
  font-size: 0.9rem;
  line-height: 105%;
  font-weight: 600;
  color: red;
}
.cut-price {
  font-size: 0.8rem;
  line-height: 105%;
  text-decoration: line-through;
  color: #d4d4d4;
}
.discount {
  border: 1px solid #83b735;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 105%;
  color: #83b735;
  padding: 0.05rem 0.8rem;
}
@media only screen and (min-width: 1532px) {
  .justin-card {
    width: 12rem;
  }
}
@media only screen and (max-width: 770px) {
  .justin-card {
    width: 14.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .justin-card {
    width: 11.3rem;
  }
}
