.justin-card {
  width: 11.45rem;
  background-color: white;
  text-align: center;
}
.justin-title {
  font-size: 0.9rem;
  line-height: 133%;
}
.justin-category {
  font-size: 0.9rem;
  line-height: 133%;
}

.justin-price {
  font-size: 1rem;
  line-height: 105%;
  font-weight: 500;
  color: red;
}
.cut-price {
  font-size: 0.9rem;
  line-height: 105%;
  text-decoration: line-through;
  color: #d4d4d4;
}
.discount {
  border: 1px solid #83b735;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 105%;
  color: #83b735;
  padding: 0.3rem 0.8rem;
}

@media only screen and (max-width: 770px) {
  .justin-card {
    width: 14.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .justin-card {
    width: 11.3rem;
  }
}
