.maybelike-card {
  width: 10.5rem;
  background-color: white;
  text-align: center;
}
.maybelike-title {
  font-size: 0.8rem;
  line-height: 133%;
}

.maybelike-price {
  font-size: 1rem;
  line-height: 105%;
  font-weight: 500;
  color: red;
}
.meybelike-cut-price {
  font-size: 0.8rem;
  line-height: 105%;
  text-decoration: line-through;
  color: #d4d4d4;
}
.maybelike-discount {
  border: 1px solid #83b735;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 100%;
  color: #83b735;
  padding: 0.2rem 0.8rem;
}
