.card-w {
  width: 22.8rem;
  background-color: white;
}
.payment-cart-tit {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.subtotle {
  font-size: 1.15rem;
  line-height: 1.53rem;
}
.total {
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #d80005;
}
.pro-button {
  font-size: 1.25rem;
  line-height: 1.3rem;
  color: white;
  background: #e25b0f;
}
.pre-name {
  font-size: 1rem;
  line-height: 1.2rem;
}
.pay-met {
  width: 4.8rem;
  height: 3rem;
}
