.product-list {
  width: 56rem;
  height: 15rem;
}
.product-list-img {
  width: 13rem;
  height: 11.2rem;
  max-width: 13rem;
  max-height: 11.2rem;
}
.product-list-name {
  font-size: 1.1rem;
  line-height: 133%;
}
.product-list-price {
  font-size: 1.3rem;
  list-style: 105%;
  font-weight: 500;
  color: red;
}

.product-list-cut {
  font-size: 1.05rem;
  line-height: 105%;
  text-decoration: line-through;
  color: #d4d4d4;
}
.product-list-disc {
  font-size: 0.9rem;
  line-height: 105%;
  color: #83b735;
  border: 1px solid #83b735;
  font-weight: 500;
  width: 6rem;
}
@media only screen and (min-width: 1532px) {
  .product-list {
    width: 66rem;
    height: 17rem;
  }
}
