.best-selling-card {
  width: 11.5rem;
  cursor: pointer;
  text-align: center;
}
.best-selling-title {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.best-selling-price {
  border: 1px solid #83b735;
  width: 8rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.95rem;
  color: #83b735;
}
.best-selling-brand {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #d4d4d4;
  display: block;
}
