.best-selling-card {
  width: 10.8rem;
  cursor: pointer;
  text-align: center;
}
.best-selling-card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow ease-in-out;
}
.best-selling-title {
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.best-selling-price {
  border: 1px solid #83b735;
  width: 8rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.95rem;
  color: #83b735;
}
.best-selling-brand {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #d4d4d4;
  display: block;
}
@media only screen and (min-width: 1532px) {
  .best-selling-card {
    width: 12rem;
  }
}
